html{
    font-size: calc(100vw / 1728 * 10);
}

@media (max-width: 962px){
    html{
        font-size: calc(100vw / 744 * 10);
    } 
}

@media (max-width: 600px){
    html{
        font-size: calc(100vw / 744 * 13);
    } 
}

.header__city{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
    font-weight: 400;
    line-height: 140%;
    text-align: right;
    color: #000;
    font-size: 1.1rem;
    cursor: pointer;
}
.header__sale{
    font-size: 1rem;
    padding: 0.75rem;
}
.header__city svg{
    width: 2rem;
    height: 2.4rem;
}
.header__tel {
    font-size: 1.1rem;
    line-height: 140%;
    color: #000;  
}
.header__logo-min{
    display: none !important;
}
.mob__menu-open{
    display: block;
    margin-right: 1.5rem;
}
.mob__menu-open span{
    display: block;
    background: #000;
    height: 2px;
}
.mob__menu-open span:nth-child(1){
    width: 3.1rem;
    margin-bottom: 0.3rem;
}
.mob__menu-open span:nth-child(2){
    width: 1.5rem;
}
.header__logo img{
     width: 19.4rem;
     height: 2.2rem;
}
.header__menu-link{
    font-size: 1.2rem;
    padding: 0.4rem 2rem;
}
.header__user{
    display: none;
}
.header__search svg{
    width: 2.4rem;
    height: 2.4rem;
}
.header__cart svg{
    width: 2.4rem;
    height: 2.4rem;
}
.intro{
    max-height: 80rem;
}
.intro__bg{
    background-size: cover;
}
.section__title-big{
    font-weight: 600;
    font-size: 5.4rem;
    line-height: 110%;
    color: #fff; 
}
.section__subtitle{
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff;
    max-width: 51rem;
}
.intro__content, .side__content{
    max-width: 59rem;
}
.intro__btn .btn{
    background: #000;
    color: #fff;
    font-size: 1.4rem;
}
.intro__btn .btn::after{
    background: #fff;
}
section, .footer{
    overflow: hidden;
    padding: 0 4rem;
}
.intro__content::after{
    background: #fff;
}
.header__top{
    transition: all 0.3s;
}
.header.fixed .header__top{
    display: block;
    max-height: 0;
    overflow: hidden;
    padding: 0;
}
.header.fixed{
    padding-bottom: 0;
}


.bestsellers{
    margin-top: 1.9rem;
    margin-bottom: 4rem;
    .btn{
        background: #000;
        color: #fff;
    }
}
.bestsellers .btn{
    background: #000;
    color: #fff;
}
.bestsellers .btn::after{
    background: #fff;
}
.bestsellers__item{
    margin: 0 1.2rem;
}
.bestsellers__title{
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 110%;
    color: #000; 
    margin-bottom: 2.9rem;
}
.bestsellers__img{
    width: 100%;
    height: 22.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FBFBFB;
    margin-bottom: 1rem;
}
.bestsellers__img img{
    height: 18.1rem;
}
.bestsellers__name{
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.bestsellers__collors{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.3rem;
}
.bestsellers__collor img{
    border-radius: 5rem;
    width: 1.8rem;
    height: 1.8rem;
}
.bestsellers__collor{
    position: relative;
}
.bestsellers__collor:nth-child(1){
    z-index: 7;
}
.bestsellers__collor:nth-child(2){
    margin-left: -1.7rem;
    z-index: 3;
}
.bestsellers__collor:nth-child(3){
    margin-left: -1.7rem;
    z-index: 2;
}
.bestsellers__collor:nth-child(4){
    margin-left: -1.7rem;
    z-index: 1;
}
.bestsellers__collor-lable{
    font-weight: 400;
    font-size: 1.2rem;
    color: #c5c5c5;
}

.gamer{
    padding-top: 0;
}
.gamer .container{
    position: relative;
    height: 80rem;
    padding: 4rem;
}
.gamer .btn{
    background: #000;
    color: #fff;
    border: none;
    font-size: 1.4rem;
}
.gamer .btn::after{
    background: #fff;
}
.gamer__content{
    max-width: 51rem;
}
.product__item-wrap{
    padding: 0;
    width: 39.2rem;
}
.products__flex{
    justify-content: space-between;
    margin: 0;
}
.product__img{
    width: 100%;
    height: 39.2rem;
    background: #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3rem;
    position: relative;
}
.product__color{
    position: absolute;
    left: 1.9rem;
    bottom: 1.9rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.2rem;
    color: #000;
}
.product__color img{
    border-radius: 5rem;
    width: 1.8rem !important;
    height: 1.8rem !important;
}
.product__img a{
    width: 31.4rem !important;
    height: 31.4rem !important; 
}
.product__img img{
    width: 31.4rem !important;
    height: 31.4rem !important;  
}
.product__color img{
    border-radius: 5rem;
    width: 1.8rem !important;
    height: 1.8rem !important;
}
.product__title{
    font-weight: 600;
    font-size: 1.8rem;
    color: #000;
    margin-right: 0;
}
.product__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.product__reviews{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    font-size: 1.4rem;
    color: #c5c5c5;
}
.product__star{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.4rem;
    color: #159400;
}
.product__star svg{
    width: 1.9rem;
    height: 1.9rem;
}
.product__availability-done{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    color: #159400;
}
.product__availability-done svg{
    width: 1.8rem;
    height: 1.4rem;
}
.product__price{
    font-weight: 600;
    font-size: 1.4rem;
    color: #000;  
}
.gamer{
    margin-bottom: 0;
    min-height: 80rem;
    padding-bottom: 0;
}
.mebel{
    margin-bottom: 5rem;
}
.mebel .gamer__title{
    border: none;
}
.mebel .gamer__content{
    height: 72rem;
    padding-left: 3.2rem;
    border-left: 0.1rem solid #fff;
    max-width: 59rem;
    padding-top: 24.3rem;
}
.tabcontent:nth-child(1){
    display: block;
}
.tabcontent iframe{
    width: 100%;
    height: 31rem;
}

.journal{
    padding: 6rem 0 9rem;
    background: #EEECE5;
}


.journal__title{
    font-weight: 600;
    font-size: 11.8rem;
    letter-spacing: 0.4em;
    text-align: center;
    color: #000
}
.journal__inner{
    width: 94.4rem;
    margin: auto;
    display: flex;
    gap: 2.7rem;
}
.journal__tabs{
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
}
.journal__tabs{
    display: flex;
    gap: 0.8rem;
}
.journal__tab{
    padding: 0.8rem 1.2rem;
    border-radius: 12rem;
    background: rgba(253, 253, 253, 0.5);
    font-size: 1.2rem;
    color: #000;
    transition: all 0.3s;
}
.journal__tab:hover{
    color: #fff;
    background: rgba(18, 18, 18, 0.5);
}
.journal__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45.9rem;
}
.journal__img{
    width: 45.9rem;
    height: 67.4rem;
    margin-bottom: 1.2rem;
}
.journal__img img{
    width: 100%;
    height: 100%;
}
.journal__name{
    font-weight: 600;
    font-size: 2.8rem;
    color: #000;  
    margin-bottom: 1.3rem;
}
.journal__text{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);  
    margin-bottom: 1.3rem;
}

.btn{
    background: #000;
    color: #fff;
}

.btn::after{
    background: #fff;
}
.header{
    padding: 0 4rem 2rem;
}
.header__top{
    padding: 1.8rem 0;
}
.header__bottom{
    padding: 2.5rem 0;
    border-bottom: 0.1rem solid #dedcd9;
}
.header-beidge.fixed{
    padding-bottom: 0;
}
.header-beidge{
    background: #EEECE4;
    margin-bottom: 0;
}
.header__actions-btn{
    width: 2.4rem;
    height: 2.4rem;
}
.header__logo-min{
    width: 2.8rem;
    height: 2.8rem;
}
.journal__page{
    padding: 0;
    padding-top: 3.7rem;
}
main{
    padding-top: 15rem;
}
.text__block{
    margin-top: 4rem;
}
.text__block .section__subtitle{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
    max-width: 100%;
}
.text__block .section__title{
    font-weight: 600;
    font-size: 4rem;
    color: #00  
}
.text__block-footer .date{
    border-radius: 12rem;
    padding: 0.8rem 1.2rem;
    background: rgba(235, 235, 235, 0.5) !important; 
    height: auto; 
    font-size: 1.2rem;
}
.text__block-footer .theme{
    border-radius: 12rem;
    padding: 0.8rem 1.2rem;
    background: rgba(235, 235, 235, 0.5) !important; 
    height: auto; 
    font-size: 1.2rem !important;
    a{
        background: transparent;
        color: #000;
        font-size: 1.2rem !important;  
    }
}
.breackpoints{
    display: flex;
    justify-content: center;
    gap: 0.8rem;
}
.breackpoints__link{
    font-size: 1.4rem;
    color: #9e9e9e;  
}
.breackpoints__link.active{
    color: #000;
    span{
        display: none;
    }
}
.img-flex{
    display: flex;
    gap: 2.5rem;
    img{
        width: 43rem;
        height: 75rem;    
    }
}
.category-page{
    padding-top: 3rem;
}
.category{
    margin-bottom: 5rem;
}
.category__title{
    font-weight: 600;
    font-size: 4.8rem;
    color: #000;
    text-align: center;
    margin-top: 1rem; 
    margin-bottom: 3rem;
}
.category__brand-title{
    font-weight: 600;
    font-size: 2.2rem;
    color: #000; 
    margin-bottom: 1.2rem;
    text-align: center;
}
.category__brand-text{
    font-size: 1.2rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.7); 
    max-width: 45.7rem;
    margin: auto;
    margin-bottom: 2.3rem;
}

/* .category-bestsellers .bestsellers__item{
    width: 25.3rem !important;
} */
.category-bestsellers__inner .slick-track{
    display: flex;
    justify-content: center;
}
.category-bestsellers__inner .bestsellers__img{
    width: 25.2rem;
    height: 25.2rem;
}

.brand-banner{
    margin-top: 3rem;
    min-height: 50rem;
    margin-bottom: 5rem;
}

.brand-banner .container{
    height: 50.2rem;
}

.more__btn input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.3rem;
    height: 2rem;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    border-radius: 13rem;
    width: 1.4rem;
    height: 1.4rem;
    left: 0.45rem;
    bottom: 0.3rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(1rem);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .more__top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
    margin-bottom: 3rem;
  }
  .more__models{
    display: flex;
    gap: 1.7rem;
  }
  .more__btn{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.4rem;
    line-height: 110%;
    color: #000;
  }
  .more__model{
    border-radius: 3.7rem;
    padding: 0.8rem 1.2rem;
    background: #fafafa;
  }
  .more__model.active{
    background: #000;
    color: #fff;
  }

  .product__page .container{
    display: flex;
  }

  .product__page .product__page-img{
    display: flex;
    width: 109.5rem;
    flex-wrap: wrap;
    gap: 3rem;
  }
  
  .product__page .product__page-img img{
    width: 52.6rem;
    height: 52.6rem;
  }

  .product__page .swiper-slide{
    width: 52.6rem !important;
    height: 52.6rem;
  }

  .product__page {
    margin-top: 3rem;
    margin-bottom: 3.7rem;
  }

  .product__page-top{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1.7rem;
  }
  .product__page-reviews{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 400;
    font-size: 1.2rem;
    color: #c5c5c5;
  }
  .product__page-star{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.2rem;
    color: #159400;
  }
  .product__page-star svg{
    width: 2.4rem;
    height: 2.4rem;
  }
  .garant{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    color: #159400;
  }
  .garant svg{
    width: 2.4rem;
    height: 2.4rem;
  }
  .product__page-actions{
    width: 53.4rem;
  }
  .product__page-title{
    font-weight: 600;
    font-size: 3.1rem;
    line-height: 110%;
    color: #000;
    margin-bottom: 1.2rem;
  }
  .product__page-descr{
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 1.5rem;
  }
  .product__page-tabs{
    width: 100%;
    display: flex;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid #f9f9f9;
    gap: 2.5rem;
  }
  .product__page-tab{
    font-weight: 600;
    font-size: 1.4rem;
    color: #c5c5c5;
    padding: 0 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: relative;
    transition: all 0.3s;
}
.product__page-tab svg{
    width: 2.4rem;
    height: 2.4rem;
}
.product__page-tab.active{
    font-weight: 600;
    font-size: 1.4rem;
    color: #000;
}
.product__page-tab::before{
    content: '';
    position: absolute;
    bottom: -0.7rem;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background: #000;
    opacity: 0;
}
.product__page-tab.active::before{
    opacity: 1;
}
.colors__wrapper{
    display: flex;
    align-items: center;
}
.colors__title{
    font-weight: 600;
    font-size: 1.4rem;
    color: #000;
    margin-bottom: 1rem;
}
.colors{
    padding-top: 1.4rem;
}
.colors__item{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 0.7rem 1.3rem;
    border-radius: 12rem;
    background: #fdfdfd;
    font-size: 1.2rem;
    color: #000;
    transition: all 0.3s;
}
.colors__item.active{
    background: #000;
    color: #fff;
}
.colors__item img{
    border-radius: 5rem;
    width: 1.8rem;
    height: 1.8rem;
}
.sizes{
    margin-top: 2.5rem;
}
.sizes__title{
    font-weight: 600;
    font-size: 1.4rem;
    color: #000;
    margin-bottom: 1rem;  
}
.sizes__item{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 0.7rem 1.3rem;
    border-radius: 12rem;
    background: #fdfdfd;
    font-size: 1.2rem;
    color: #000;
    cursor: pointer;
    transition: all 0.3s;
}
.sizes__item.active{
    background: #000;
    color: #fff;
}
.dop__item{
    display: flex;
}
.dop{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.dop__title{
    font-weight: 600;
    font-size: 1.4rem;
    color: #000;
    margin-bottom: 1rem;
}
.dop__item{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.dop__item-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background: #fdfdfd;
    margin-right: 1.3rem;
    transition: all 0.3s;
}
.dop__item-img svg{
    width: 1.6rem;
    height: 1.6rem;
}
.dop__item-img svg:nth-child(2){
    opacity: 0;
    position: absolute;
}
.dop__item-price{
    margin-left: auto;
    font-weight: 600;
    font-size: 1.2rem;
    color: #000;
}
.dop__item.active svg:nth-child(1){
    opacity: 0;
    position: absolute;
}
.dop__item.active svg:nth-child(2){
    opacity: 1;
    position: static;
}
.dop__item.active .dop__item-img{
    background: #000;
}
.product__page-price{
    font-weight: 600;
    font-size: 1.8rem;
    color: #000;   
}
.product__page-button{
    width: 100%;
    padding: 1.3rem;
    background: #000;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 110%;
    color: #fff;
    border-radius: 3.7rem;
    margin-top: 1.5rem;
    margin-bottom: 1.3rem;
}
.product__page-delivery{
    font-size: 1.2rem;
    text-align: center;
    color: #c5c5c5;
}
.product__page-delivery span{
    color: #000; 
}
.product__page-inner{
    display: flex;
    align-items: flex-start;
    gap: 0.9rem;
}
.product__page-saleprice{
    font-size: 1.2rem;
    color: #c5c5c5;
    text-decoration: line-through;  
}
.product__page-sale-lable{
    font-size: 1.2rem;
    line-height: 110%;
    color: #fff;
    background: #f00;
    border-radius: 3.7rem;
    padding: 0.5rem 0.9rem;
}
.recommendations{
    margin-bottom: 5.8rem;
}
.reviews{
    margin-bottom: 3.9rem;
}
.reviews__title{
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center;
    color: #000;   
}
.reviews__heiadings-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviews__heiadings-star{
    display: flex;
    align-items: center;
}
.reviews__heiadings-star svg{
    width: 3.4rem;
    height: 3.4rem;
}
.reviews__heiadings-star .reviews__heiadings-star-value{
    font-weight: 600;
    font-size: 1.4rem;
    color: #159400;
    margin-right: 0.7rem;  
}
.reviews__heiadings-inner{
    font-size: 1.4rem;
    color: #c5c5c5;
    margin-bottom: 3.5rem;
}
.reviews__heiadings-inner span{
    color: #000;
    margin-left: 1rem;
}
.reviews__item-top{
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.reviews__item-top img{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}
.reviews__item-username{
    font-weight: 600;
    font-size: 1.4rem;
    color: #000;  
}
.reviews__item-date{
    font-size: 1.2rem;
    color: #c5c5c5; 
}
.reviews__item-images{
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.reviews__item-text{
    font-size: 1.4rem;
    color: #000;
    max-width: 35rem;  
}
.reviews__wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}
.reviews__all-btn{
    padding: 0.8rem 1.2rem;
    border: 0.1rem solid #e3e3e3;
    border-radius: 3.7rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 110%;
    color: #e3e3e3;
}
.adv .section__subtitle{
    color: #000;
}
.adv .section__title{
    font-size: 3.6rem;
}
.techn .section__title{
    font-size: 3.6rem;
}
.techn .section__subtitle{
    color: #000;
}
.techn{
    margin-bottom: 9rem;
    padding: 7rem 4rem;
}
.techn__row-title{
    font-size: 1.3rem;
    padding: 3.3rem 0;
}
.accordeon__content{
    font-size: 1.3rem;
}
.techn__row-content{
    padding-bottom: 3.3rem;
}


.payment__page{
    background: #fbfbfb;
    padding: 4rem;
}
.payment__info{
    width: 79.1rem;
}
.payment__block{
    margin-bottom: 4.8rem;
}
.payment__title{
    font-size: 2.4rem;
    line-height: 110%;
    color: #000;
    margin-bottom: 3rem;
}
.delivery__title{
    font-size: 2.4rem;
    line-height: 110%;
    color: #000;
    margin-bottom: 3rem; 
}
.payment__form{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.payment__form input{
    padding: 1.5rem;
    border: 0.1rem solid #f9f9f9;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    color: #c5c5c5;
}
.delivery__top{
    display: flex;
    gap: 1.3rem;
}
.delivery__wrapper{
    background: #fff;
}
.delivery__thumb{
    font-weight: 600;
    font-size: 1.4rem;
    color: #c5c5c5;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    position: relative;
    transition: all 0.3s;
}
.delivery__thumb.active{
    color: #000;
}
.delivery__thumb.active::before{
    opacity: 1;
}
.delivery__thumb::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.7rem;
    width: 100%;
    height: 0.1rem;
    background: #000;
    opacity: 0;
}
.delivery__thumb svg{
    width: 2.4rem;
    height: 2.4rem;
}
.delivery__top{
    padding-bottom: 0.7rem;
    border-bottom: 0.1rem solid  #f9f9f9;
    margin-bottom: 1.7rem;
}
.delivery__pickup{
    display: flex;
    gap: 2.1rem;
    margin-bottom: 1.3rem;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.delivery__pickup img{
    width: 10rem;
    height: 10rem;
    padding: 1rem; 
}
.delivery__pickup-title{
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 110%;
    color: #000;
    margin-bottom: 0.5rem;
}
.delivery__pickup-list{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.delivery__pickup-li{
    font-size: 1.2rem;
    color: #000;
}
.delivery__pickup-li span{
    color: #c5c5c5;
}
.delivery__pickup .checkbox{
    position: absolute;
    right: 1.9rem;
    width: 1.4rem;
    height: 1.4rem;
    border: 0.1rem solid #000;
    border-radius: 50%;
    transition: all 0.3s;
}
.delivery__pickup .checkbox svg{
    opacity: 0;
}
.delivery__pickup.active .checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(2.3);
    background: #000;
}
.delivery__pickup.active .checkbox svg{
    width: 0.9rem;
    height: 0.9rem;
    opacity: 1;
}
.payment__page .container{
    display: flex;
    gap: 6rem;
}
.payment__compound-inner{
    display: flex;
    align-items: center;
    width: 79.1rem;
    background: #fff;
    padding: 1.3rem;
    margin-bottom: 2.5rem;
}
.payment__compound-img{
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    background: #fbfbfb;
    margin-right: 1.2rem;
    img{
        width: 8rem;
        height: 8rem;
    }
}
.payment__compound-info{
    max-width: 33.6rem;
}
.payment__compound-title{
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 110%;
    color: #000;
    margin-bottom: 0.5rem;
}
.payment__compound-list{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.payment__compound-li{
    font-weight: 400;
    font-size: 1.2rem;
    color: #000;
}
.payment__compound-li span{
    color: #c5c5c5;
}
.payment__compound-actions{
    margin-left: auto;
}
.payment__compound-cols{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.payment__compound-btn{
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment__compound-value{
    font-weight: 400;
    font-size: 1.4rem;
    color: #000;
}
    
.payment__compound-btn svg{
    width: 10rem;
}
.payment__compound-actions{
    margin-right: 1.6rem;
}
.payment__compound-price{
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 110%;
    color: #000;
    margin-right: 1.6rem; 
}
.payment__compound-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
}
.payment__compound-delete svg{
  width: 1rem;
  height: 1.2rem;  
}
.payment__compound-delivery{
    padding: 1.3rem;
    background: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.payment__compound-delivery-img{
    width: 4.2rem;
    height: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FBFBFB;
    border-radius: 1rem;
    margin-right: 1.1rem;
}
.payment__compound-delivery-img svg{
    width: 2rem;
    height: 2rem;
}
.payment__compound-delivery-title{
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 110%;
    color: #000; 
}
.payment__compound-delivery-descr{
    font-weight: 400;
    font-size: 1.2rem;
    color: #c5c5c5;  
}
.payment__compound-delivery-price{
    margin-left: auto;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 110%;
    color: #000;
    margin-bottom: 1.3rem;
}
.payment__compound-itogprice{
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #000;
    margin-bottom: 1.8rem;
}
.payment__compound-itogprice span{
    display: block;
    font-size: 1.2rem;
    text-align: center;
    color: #c5c5c5;
    margin-bottom: 0.5rem;  
}
.payment__compound-itog-btn{
    border-radius: 3.7rem;
    padding: 1.2rem 2.9rem;
    background: #000;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 110%;
    color: #fff;
    text-align: center;
    width: 100%;
}
.payment__banks-inner{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.payment__banks-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.7rem;
    background: #fff;
    position: relative;
}
.payment__banks-img {
    display: flex;
    gap: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 110%;
    color: #000;
}
.payment__banks-img img{
   width: 3rem;
   height: 3rem; 
}

.payment__pickup .checkbox{
    position: absolute;
    right: 1.9rem;
    width: 1.4rem;
    height: 1.4rem;
    border: 0.1rem solid #000;
    border-radius: 50%;
    transition: all 0.3s;
}
.payment__pickup .checkbox svg{
    opacity: 0;
}
.payment__pickup.active .checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(2.3);
    background: #000;
}
.payment__pickup.active .checkbox svg{
    width: 0.9rem;
    height: 0.9rem;
    opacity: 1;
}
.checkbox{
    cursor: pointer;
}



.payment__banks-img{
    display: flex;
    align-items: center;
}
.payment__banks-item .checkbox{
    position: absolute;
    top: 2.3rem;
    right: 1.9rem;
    width: 1.4rem;
    height: 1.4rem;
    border: 0.1rem solid #000;
    border-radius: 50%;
    transition: all 0.3s;
}
.payment__banks-item .checkbox svg{
    opacity: 0;
}
.payment__banks-item.active .checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(2.3);
    background: #000;
}
.payment__banks-item.active .checkbox svg{
    width: 0.9rem;
    height: 0.9rem;
    opacity: 1;
}
.header__tel  svg{
    display: none;
}
.drop__menu{
    top: 11rem;
    transition: all 0.3s;
}
.mob__menu{
    display: block;
    transition: all 0.3s;
    position: absolute;
    top: 7.3rem;
    overflow: visible;
    padding: 0;
    padding-top: 3rem;
    height: auto;
    max-height: 0;
    overflow: hidden;
    left: -4rem;
    width: calc(100% + 8rem);
    padding-left: 4rem;
}
.drop__menu{
    top: 11.1rem;
}

.mob__menu .footer__nav-title{
    margin-bottom: 3rem;
}

.mob__menu-open span{
    transition: all 0.3s;
}

.mob__menu-open.active span:nth-child(2){
    width: 3.1rem !important;
    transform: rotate(-45deg) translate(0.2rem, -0.4rem);
}
.mob__menu-open.active span:nth-child(1){
    transform: rotate(45deg) translate(0, 0);
}
#openModalBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.city-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 7777777777777777777;
    justify-content: center;
    align-items: center;
}

.city-modal-content {
    background-color: #fefefe;
    border-radius: 1.2rem;
    padding: 3rem;
    width: 54.6rem;
}

.modal-content{
    background-color: #fefefe;
    border-radius: 1.2rem;
    width: 80.6rem;
    padding: 3rem;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.city-modal__title{
    font-weight: 600;
font-size: 2.4rem;
line-height: 110%;
color: #000;
margin-bottom: 1.5rem;
}
.city-modal__input{
    display: flex;
    align-items: center;
    border: 0.1rem solid #c5c5c5;
    border-radius: 0.8rem;
    padding: 1.4rem 1.6rem;
    width: 100%;
    margin-bottom: 1.5rem;
}
.city-modal__input input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.4rem;
    color: #c5c5c5;
}
.city-modal__wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    max-height: 24rem;
    overflow: auto;
}
.city-modal__item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.4rem;
    color: #b9b9b9;
    transition: all 0.3s;
}
.city-modal__item svg{
    width: 1.8rem;
    height: 1.4rem;
}
.city-modal__item svg{
    opacity: 0;
    transition: all 0.3s;
}
.city-modal__item.active svg{
    opacity: 1;
}
.city-modal__item.active{
    color: #000;
}
.mobile-btn{
    display: none;
}
.checkbox input{
    opacity: 0;
    position: absolute;
    visibility: hidden;
}

.map-modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    z-index: 7777777777777777777;
}

.modal-content{
    position: relative;
}

.map-close-btn{
    position: absolute;
    font-size: 3rem;
    position: absolute;
    top: -0.5rem;
    right: 3rem;
    cursor: pointer;
}



@media (max-width: 962px){
    .product__page .container{
        flex-direction: column;
    }
    .product__page .product__page-img{
        width: 100%;
    }
    .recommendations{
        display: none;
    }
    .category-page{
        padding-top: 1rem;
    }
    .modal-content{
        width: 95%;
    }
    .header__sale{
        display: none;
    }
    .header__city span{
        display: none;
    }
    .header__city svg{
        width: 3rem;
        height: 3rem;
    }
    .header__tel  svg{
        display: block;
        width: 3rem;
        height: 3rem;
    }
    .header__tel span{
        display: none;
    }
    .header__top{
        padding: 2.5rem 0;
    }
    .header{
        padding: 0 2.5rem;
    }
    .header__cart{
        display: none;
    }
    .header__logo{
        top: -3.7rem;
    }
    .mob__menu-open{
        width: 4.6rem;
        height: 4.6rem; 
    }
    .mob__menu-open button{
        width: 4.6rem;
        height: 4.6rem; 
        background: #000;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0.7rem;
    }
    .mob__menu-open button span{
        background: #fff;
    }
    .header__search{
        margin-right: 0;
        width: 110%;
    }
    .search__drop{
        position: static;
        opacity: 1;
        padding: 0;
        width: 100%;
        z-index: 777;
        background: transparent;
    }
    .search__form-top{
        margin-bottom: 0;
    }
    .close__search{
        display: none;
    }
    .header__actions{
        max-width: 100%; 
    }
    .search__form input{
        width: 100%;
        height: 4.9rem;
        border: 1px solid #c5c5c5;
        border-radius: 0.8rem;
        padding: 1.4rem 1.5rem;
        margin-top: 0.3rem;
    }
    .search__form .submit{
        display: none;
    }
    .header__actions-btn{
        position: absolute;
        top: 1.5rem;
        right: 1.4rem;
    }
    .mob__menu-open{
        margin-right: 0;
    }
    .header__search{
        margin-left: 1rem !important;
    }
    .search__form{
        margin-right: 0 !important;
    }
    .header__bottom{
        padding-top: 0;
    }
    .product__page{
        padding: 0 2.5rem;
    }
    .header.fixed .header__top{
        padding-top: 1.5rem;
    }
    .product__page-title{
        font-size: 4rem;
    }
    .product__page .product__page-img{
        max-width: 100%;
    }
    .product__page-actions{
        width: 100%;
    }
    .product__page-img{
        margin-bottom: 4.5rem;
    }
    .dop__item{
        font-size: 1.4rem;
    }
    .dop__item-price{
        font-size: 1.6rem;
    }
    .sizes__item{
        font-size: 1.4rem;
    }
    .product__page-delivery{
        font-size: 1.4rem;
    }
    .reviews__item-images img{
        border-radius: 0.4rem;
        width: 10.5rem;
        height: 14.6rem;
    }
    .reviews__item-images{
        width: 100%;
        overflow: auto;
    }
    .reviews{
        padding: 0 2.5rem;
    }
    .reviews__item-username{
        font-size: 1.6rem;
    }
    .reviews__item-date{
        font-size: 1.4rem;
    }
    .product__page .product__page-img{
        width: 100%;
    }
    .product__page .product__page-img img{
        width: 100%;
        height: 100%;
    }
    .breackpoints{
        display: none;
    }
    .garant{
        font-size: 1.4rem;
    }
    .product__page-star{
        font-size: 1.4rem;
    }
    .product__page-reviews{
        font-size: 1.4rem;
    }
    .product__page-descr{
        font-size: 1.4rem;
    }
    .slick-prev{
        display: none !important;
    }
    .slick-next{
        display: none !important;
    }
    .gamer__bg{
        width: 100%;
        min-height: 50.2rem;
    }
    .gamer .container{
        padding: 0;
    }
    .brand-banner{
        margin-top: 0;
        position: relative;
    }
    .gamer__content{
        position: absolute;
        top: 0;
    }
    .section__title-big{
        font-size: 4rem;
    }
    .section__subtitle{
        font-size: 1.4rem;
    }
    .gamer__content{
       max-width: 57rem; 
    }
    .section__subtitle{
        max-width: 100% !important;
    }
    .product__item-wrap{
        width: 33rem;
    }
    .more{
        padding: 0 2.5rem;
    }
    .category{
        padding: 0 1.5rem;
    }
    .category-bestsellers__inner .slick-track{
        justify-content: flex-start !important;
    }
     .category-bestsellers__inner{
        width: 100%;
     }
     .category-bestsellers__inner .slick-slide {
        margin: 0 1.7rem !important; /* Adjust the value as needed for spacing */
    }
    .category-bestsellers__inner .slick-list {
        margin: 0 -1.7rem; /* Negative margin to compensate the margin added to the slides */
    }
    .footer{
        padding: 0 2.5rem;
    }
    .category-bestsellers__inner .bestsellers__img{
        width: 100%;
    }
    .more__models{
        white-space: nowrap;
    }
    .more__top{
        justify-content: flex-start;
        overflow: auto;
    }
    .more__top::-webkit-scrollbar{
        display: none;
    }
    .more__btn{
        white-space: nowrap;
    }
    .more__btn{
        width: 20rem;
    }
    .switch{
        width: 3rem;
    }
    .more{
        width: 100%;
    }
    .bestsellers{
        padding-top: 3rem;
    }
    section{
        padding: 0 2.5rem;
    }
    .gamer__title{
        border: none;
    }
    .intro{
        height: 80rem;
    }
    .intro__content{
        position: absolute;
        top: 3rem;
        height: 89%;
    }
    .journal__title{
        font-size: 4.8rem;
    }
    .journal__inner{
        flex-direction: column;
    }
    .journal{
        padding: 6rem 2.5rem 9rem;
    }
    .journal__img{
        width: 100%;
    }
    .journal__img img{
        width: 100%;
        object-fit: cover;
    }
    .journal__inner{
        width: 100%;
    }
    .journal__item{
        width: 100%;
    }
    .journal__page{
        padding-bottom: 3rem;
    }
    .text__block-img img{
        object-fit: cover;
    }
    .img-flex{
        overflow: auto;
    }
    .img-flex::-webkit-scrollbar{
        display: none;
    }
    .payment__page .container{
        flex-direction: column;
    }
    .payment__info{
        width: 100%;
    }

    .delivery__pickup-title{
        font-size: 1.8rem;
    }
    .delivery__pickup-li{
        font-size: 1.2rem;
    }
    .delivery__pickup img{
        padding: 0;
    }
    .payment__compound-title{
        font-size: 1.8rem;
    }
    .payment__compound-li{
        font-size: 1.2rem;
    }
    .payment__compound-img{
        padding: 0;
    }
    .payment__compound-delivery-descr{
        font-size: 1.4rem;
    }
    .payment__page{
        padding: 0 2.5rem;
    }
    .payment__form input{
        font-size: 1.9rem;
    }
    .payment__banks-img{
        font-size: 1.8rem;
    }
    .payment__compound-itogprice{
        font-size: 2.1rem;
    }
    .payment__compound-itogprice span{
        font-size: 1.8rem;
    }
    .payment__compound-itog-btn{
        font-size: 1.9rem;
    }
    .payment__compound-info{
        max-width: 100%;
    }
    .payment__compound-li{
        font-size: 1.6rem;
    }
    .payment__compound-img img{
        width: 100%;
        height: 100%;
    }
    .payment__compound-inner{
        width: 100%;
    }
    .payment__compound-price{
        white-space: nowrap;
        font-size: 1.9rem;
    }
    .payment__compound-img{
        min-width: 10rem;
        min-height: 10rem;
    }
    .mob__menu{
        display: block;
        transition: all 0.3s;
        position: absolute;
        top: 7.3rem;
        overflow: visible;
        padding: 0;
        padding-top: 3rem;
        height: auto;
        max-height: 0;
        overflow: hidden;
        left: -2.5rem;
        width: calc(100% + 5rem);
        padding: 3rem 2rem 0;
        padding-top: 0;
    }
    .mob__menu .footer__nav-title{
        margin-bottom: 0;
    }
    .city-modal__input input{
        font-size: 1.9rem;
    }
    .city-modal__item{
        font-size: 1.9rem;
    }
    .city-modal__item svg{
        width: 2.5rem;
        height: 2.1rem;
    }
    .close-btn{
        margin-top: -1.9rem;
    }
    .payment__compound-itog-btn{
        position: sticky;
        top: 93vh;
        left: 0;
        z-index: 777777;
        padding: 2.5rem
    }
    .payment__compound-itog-btn.static{
        position: static;
        width: 100%;
    }
    .payment__page{
        position: relative;
        overflow: visible;
    }
    .payment__compound-itogprice{
        margin-bottom: 9rem;
    }
    .mobile-btn{
        display: block;
    }
    .desc-btn{
        display: none !important;
    }
    .search__form{
        position: relative;
        z-index: 7777777777;
    }
    .search__drop{
        pointer-events: all;
    }
}



@media (max-width: 600px){
    .product__item-wrap{
        width: 100%;
    }
    .payment__compound-inner{
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
        padding-bottom: 3rem;
    }
    .payment__compound-img{
        width: 100%;
        height: 100%;
    }
    .payment__compound-actions{
        margin-left: 0;
    }
    .payment__compound-value{
        font-size: 1.9rem;
    }
    .payment__compound-delete{
        position: absolute;
        bottom: 7rem;
        right: 2.5rem;
    }
    .payment__compound-delete svg{
        width: 2.1rem;
        height: 2.3rem;
    }
    .payment__compound-price{
        font-size: 3rem;
    }
    .payment__compound-title{
        font-size: 2.1rem;
        margin-bottom: 1.5rem;
    }
}
